#page-top {
    width: 100vw;
    height: 100vh;

    max-width: 100vw;
    max-height: 100vh;

    overflow-x: hidden;
}

#page-background {
    position: fixed; 
    top: 0; 
    left: 0;

    background: url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: auto;

    min-width: 100%;
    min-height: 100%;

    z-index: -1;
    filter: brightness(20%) contrast(110%);
}

.hype-navigator {
    font-family: 'Courier New', monospace;
    font-size: 11px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.hype-navigator li {
    margin: 10px 0;
}

.hype-navigator a:hover {
    color: white;
    background-color: red;
    text-decoration: none;
}