body {
    background-color: white;
}

.hypebox_trans {
    filter:invert(100%);
    width: 25%;
    height: 25%;
}

.hype-text {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 24pt;
    font-style: italic;
    color: white;
    background-color: red;
    padding: 1px 4px;
    letter-spacing: 0px;
}

.team_holder {
    display: inline-block;
}

.resume-section {
    height: auto;
}
  
.resume-content {
    padding-left: 20%;
    padding-right: 20%;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    color: black;
}

p {
    color: black;
}

.left-div {
    width: 48%;
    float: left;
}

.right-div {
    width: 48%;
    float: right;
    vertical-align: middle;
}

.container {
    vertical-align: center;
}

#page-background {
    position: fixed; 
    top: 0; 
    left: 0;

    background: url('../assets/background-inverted.jpg');
    background-repeat: no-repeat;
    background-size: auto;

    min-width: 100%;
    min-height: 100%;

    z-index: -1;
    filter: brightness(50%) contrast(110%);
    filter:opacity(5%)
}