html {
   padding: 0px;
   margin: 0px;
}
body {
   font-family: sans-serif;
   background-color: white;
   padding: 0px;
   margin: 0px;
}
a, p, li{
   font-size: 14pt;
   color: black;
}
p {
   padding: 10pt;
}
h1 {
   font-size: 18pt;
   text-align: center;
}
h2 {
   font-size: 14pt;
   padding: 10pt;
}
header {
   background-color: lightgrey;
   margin: 0px;
   padding: 0px;
}
q {
   font-style: italic;
   font-weight: normal;
}
.container {
   width: 100%;
   margin-top: 14pt;
}
.center{
   display:block;
   margin-left:auto;
   margin-right:auto;
}
#clockIcon {
   height: 40pt;
   width: 40pt;
}
#phone {
   width: 100%;
   margin: 0px;
}
#navBar {
   margin: 0px;
   padding: 10pt;
}
#navBar > a {
   font-size: 20pt;
   color: blue;
   text-decoration: none;
}
#survey {
   text-align: center;
}
